#container-fluid{
    background-color: white;
    
}


.navv{
    position: fixed;
    height: 15%;
margin-top:3%;
}

#homeies{
    display: flex;
    justify-content: space-around;
}
.homeee{
    display: flex;
    justify-content:flex-end;
}

.navbar-brand{
    color: rgb(43, 0, 83);

}


.subscribe{
    background-color: rgb(43, 0, 83);
    color: white;
    border-radius: 3px;
}







/* body */
#upppp{margin-top: 50px;

    background-color: rgba(128, 128, 128, 0.13);
}
#up-body{
    width: 50%;
    display: flex;
    justify-content: center;
    min-width: 50%;
    margin:0px auto 50px auto;

    
}






#up-body-h1{
display: flex;
justify-content: center;
padding-top: 8%;
}

#up-body-p{
    display: flex;
justify-content: center;
}

#inline{
    display: inline;
   
   

}

#up-body-input{
    
    border-radius: 10px;
    width: 84%;
   height: 20%;
}

#up-body-search{
    border: none;
    background-color:rgb(40, 0, 78);
    color: white;
    border-radius: 10px;
width: 14%;
height: 20%;
}
/* boxs */

#popular{
    color: rgba(128, 128, 128, 0.612);
    text-decoration:underline;
    font-size: medium;
    margin-bottom: 10px;}

#containers{
    width: 50%;
 flex-wrap: wrap;
    display: flex;
    
    min-width: 50%;
  margin: auto;

}



#container{
    margin: 0px 5px 5px 5px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 25px;
width: 85px;
background-color: rgba(0, 128, 0, 0.2);

}


/* 
.column{
    display: flex;
    text-align:center ;
    border-radius: 20px;
    font-size: xx-small;
    display: flex;
    max-width: 100px;
    max-height: 30px;
    align-items: center;
    margin: 5px;
    border: 1px solid black;
}

*/


 
 #conta{
display: flex;
flex-wrap: wrap;
} 




#latestssss{
    display: inline;
    width: 50%;
    flex-wrap: wrap;
       display: flex;
       justify-content: center;
       
       min-width: 50%;
     margin: auto;
    margin: 3px auto 0px auto;
} 




.conn{
    
    border: 1px solid black;
    border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap:wrap;
   margin: 5px;
   padding: 3PX;
    width: 100px;
}
















/* jobs  */

.jobcol{
    
    box-shadow: -1px 1px 5px gray;
    margin: 50px 20px 35px 0px;
    padding:10px 10px 20px 0px;
height: 85%;

 
}



#jobcol2{
display: flex;
    
}
  




.latestss{justify-content: center;
 display: flex;
    width: 50%;
    min-width: 82%;
    margin: auto;
    
    margin-bottom: 200px;
    overflow:visible;
}


.h1s{
font-size: 30px;
color: rgba(0, 0, 0, 0.835);
}

.p1s{
    color: rgba(0, 0, 0, 0.509);
font-size: larger;
}
/* chanels */

#chanels{
  display: block;
    width: 50%;
    min-width: 82%;
    margin: auto;
}
/* viewall */

#viewall{
color: black;
padding-bottom: 5px;
}


#advertisement{
    margin-top: 5px;
display: flex;
justify-content: center;
align-items: center;
border: 1px grey solid;
height: 100px;
}

#advertisementp{
font-size: large;
color: rgba(0, 0, 0, 0.628);
    margin-bottom: 0px;
}
/* chANEL */
 #chanel{
    
    
    box-shadow: -5px 0px 0px black ;
    margin-top: 30px;
    border: 1px solid rgba(0, 0, 0, 0.38);
 }

#chanell{
 display: flex;  
}

#imggg{
  display: flex;
  margin: 6px 6px 0px 6px ;
}  




#compeny{

    height: 85px;
    width: 85px;
}


#mobile{
    font-size: large;
   color: rgba(0, 0, 0, 0.900);
}


#code{
font-size: medium;
}



#pakistan{
    font-size: small;
    color: rgba(0, 0, 0, 0.826);


}


#twoinone{
display: flex;

}



#onsite{margin: 8px 5px 5px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
width: 60px;
background-color: rgba(0, 128, 0, 0.2);

}



#Contractor{
    margin: 8px 5px 5px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
width: 85px;
background-color: rgba(0, 128, 0, 0.2);

}


#months{
font-size:  small;
color: rgb(0, 113, 0);
}


#chanel-2{
background-color: rgba(128, 128, 128, 0.131);
margin: 15px;


}


#mobile-2{
padding: 0px 0px 10px 10px;
font-size: small;
color: black;

}


#detailss{
    display: flex;
    justify-content: end;
}


#details{
    margin: 0px 10px 5px 0px ;
display: flex;
justify-content: center;
align-items: center;
height: 32px;
width: 100px;
border-radius: 20px;
background-color: rgb(29, 0, 46);
color: white;
font-size: small    ;
}



/* footer */


#bottom{
background-color: rgba(128, 128, 128, 0.079);
margin: 50px 0px 70px 0px;
}




#bottomm{
    width: 50%;
    min-width: 50%;
  margin: 30px auto 20px auto;
  padding-top:50px ;
}


#dont{

text-align: center;
font-size: x-large;
}

/* 
email{

display: flex;
justify-content: center;
align-items: center;


} */

#well{
    text-align: center;
   font-size: medium;
color: rgba(0, 0, 0, 0.775);

}
#enter{
display: flex;
justify-content: center;
}




#your{
    border: 1px solid rgba(0, 0, 0, 0.604) ;
    display: inline;
font-size: small;
color: white;
height: 100%;
width: 79%;
height: 45px;
margin-right:20px;
border-radius: 5px;
padding-left: 10px;
}



#email{
    display: inline;
    font-size: large;
background-color:rgb(29, 0, 46);
color: white;
width: 25%;
height: 45px;
border-radius: 5px;
}

#subscribe{padding: 3px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}














/* footer */
.parent {
    display: flex;
  justify-content: space-between;
}
    .div1 { grid-area: 1 / 1 / 6 / 2; }
    .div2 { grid-area: 1 / 2 / 6 / 3; }
    .div3 { grid-area: 1 / 5 / 6 / 6; }
    .div4 { grid-area: 1 / 4 / 6 / 5; }
    .div5 { grid-area: 1 / 3 / 6 / 4; }

   

/* sdgkjdfbkldfsnk;lbg */

#mahaveeramani{
    background-color: rgb(69, 2, 133);
    margin: 0%;
    padding: 0%;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#mahaveerr{
    color: white;
    font-weight: 800;
    font-size: larger;
}



